
html, body, .container {
    position: absolute;
    top: 50%;
    left: 50%;
    -moz-transform: translateX(-50%) translateY(-50%);
    -webkit-transform: translateX(-50%) translateY(-50%);
    transform: translateX(-50%) translateY(-50%);
}

@font-face {
    font-family: 'ustroke-regular';
    src: url('https://sustainabilitysucks.com/css/fonts/ustroke-regular.woff2') format('woff2'),
         url('https://sustainabilitysucks.com/css/fonts/ustroke-regular.woff') format('woff'),
		 url('https://sustainabilitysucks.com/css/fonts/ustroke-regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'sk-primo-regular';
    src: url('https://sustainabilitysucks.com/css/fonts/sk-primo-regular.woff2') format('woff2'),
         url('https://sustainabilitysucks.com/css/fonts/sk-primo-regular.woff') format('woff'),
		 url('https://sustainabilitysucks.com/css/fonts/sk-primo-regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'gloria-hallelujah-regular';
    src: url('https://sustainabilitysucks.com/css/fonts/gloria-hallelujah-regular.woff2') format('woff2'),
         url('https://sustainabilitysucks.com/css/fonts/gloria-hallelujah-regular.woff') format('woff'),
		 url('https://sustainabilitysucks.com/css/fonts/gloria-hallelujah-regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

h1{
    font-family: ustroke-regular;
    font-weight: normal;
	font-style: normal;
	font-size: 50px;
}

h2{
    font-family: sk-primo-regular;
    font-weight: normal;
	font-style: normal;
	font-size: 50px;
}

h3{
    font-family: gloria-hallelujah-regular;
    font-weight: normal;
	font-style: normal;
	font-size: 30px;
}
